.card{
    background-color: #020303;
}

h5 {
    color: snow;
}

a {
    color: snow;
}

body {
    background-color: black;
    color: black;
    padding-top: 40px;
    padding-bottom: 15px;
}